<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
            <form action="/calculate" method = "post">
                Roll No: <input type="number" name="roll"> <br><br>
                Name: <input type="text" name="name"> <br><br>
                Marks 1: <input type="number" name="m1"> <br><br>
                Marks 2: <input type="number" name="m2"> <br><br>
                Marks 3: <input type="number" name="m3"> <br><br>

                <button type="submit">Submit</button>
            </form>
    </body>
</html>